node_modules
dist
.turbo
.expo
*.log
.env
.env.local
.env.*.local
*.tsbuildinfo
.DS_Store
coverage
.nyc_output
.prisma/
node_modules
musique/
packages/database/generated/
apps/backend/dist-ncc/


musique/
packages/database/generated/
apps/backend/dist-ncc/
apps/backend/temp-deps/

